<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <% if (!prods || prods.length<=0) { %>
      <h1>No Products Found!</h1>

    <% } else { %>
      <ul class="cart__item-list">
        <% prods.forEach(p => { %>
            <li class="cart__item">
                <h1><%= p.productId %></h1>
                <h2>Quantity: <%= p.quantity %></h2>
                <form action="/cart/delete-product" method="POST">
                    <button class="btn danger" type="submit">Delete</button>
                    <input type="hidden" name="productId" value="<%= p.productId%>">
                </form>
            </li>
        <% }) %>
    </ul>
    <hr>
<div><%= total %></div>
    <div class="centered">
      <form action="/orders" method="POST">
        <input type="hidden" value="<%= cartUser %>" name="cartUser">
        <button class="btn danger" type="submit">Place Order</button>
    </form>
    </div>

    </div>
    <% } %>

  </main>
  <%- include('../includes/end.ejs') %>
